---
import hero from "../assets/hero-grad.png"
const {title}=Astro.props;

---

<section class="hero container spacing-section--3xl">
	<div class="hero__first hero__part">
		<h1 class="heading--xxl">{title}</h1>
		<h2 style="font-weight: 300;">neat design / dev</h2>
	</div>
	<div class="hero__second hero__part">
		<h1 class="stroked-text">{title}</h1>
		<h1 class="stroked-text">{title}</h1>
		<div class="hero__img">
			<img src={hero.src} />
		</div>
	</div>
</section>

<style>
	@media (min-width: 1000px) {
		.hero {
			max-width: 1000px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 7rem;
		}
	}
	@media (max-width: 992px) {
		.hero {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.hero .hero__second {
			display: flex;
			flex-direction: column-reverse;
		}
		.hero * {
			text-align: center;
		}
	}

	.hero {
		padding: 0 2rem;
	}
	@media(min-width:992px){
		.hero img {
		width: 330px !important;
		height: auto !important;
		aspect-ratio: 4 / 3 !important;
		
	}
	}
	.hero img {
		width: 270px;
		height: 200px;
		object-fit: cover;
		margin-top: 1.5rem;
	}
</style>
